*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.product-container{
    width: 100%;
    margin: auto;
}

/* Classe in comune tra tutti i contenitori*/
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

/*differenziazione dei colori*/
.first-shoe{
    background-color: red;
}
.second-shoe{
    background-color: green;
}
.third-shoe{
    background-color: yellow;
}


/*contenitore delle immagini e i testi*/
.shoe-info{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoe-info img{
    width: 75%;
    margin-left: 40px;
}

.shoe-info h1{
    width: 70%;
    margin-left: 150px;
    color: yellow;
    font-size: 38px;
}

/*cambio colore all'ultimo testo dato che lo sfondo è giallo*/
.third-shoe .shoe-info h1{
    color: green;
}